<div>

  <div class="row align-items-center">
    <div><span class="dateRange">Select a date range</span></div>
    <div class="col-sm-2"><p id="value-range"></p></div>
    <div class="col-sm"><div id="slider-range"></div></div>
    <div>
      <select name="chart-type" id="chart-type" (change)="selectChart($event)" formControlName="chartType">
        <option selected="selected" value="line">Line Chart</option>
        <option value="bubble">Bubble Chart</option>
      </select>
    </div>
  </div>
</div>

<svg id="graph" width="960" height="500"></svg>
